@font-face {
    font-family: header1;
    src: url('../font-styles/RemachineScript_Personal_Use.ttf');
}

@font-face {
    font-family: header2;
    src: url('../font-styles/Revamped.otf');
}

.imagecenter{
    background-repeat: no-repeat; 
    background-position: bottom right;
    /* background-size: cover; */
    min-height: 100vh;
    /* display:flex;
    justify-content: center
    align-items: center; */
}
  

.greenbox{
    /* border: 7px rgba(122, 250, 122, 0.864) solid; */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 60%;
    position: fixed;
    left: 0px;
    background: linear-gradient(45deg, red, orange, yellow);
    transform: skewX(-15deg); /* Skew the border to the left */
    transform-origin: 0 0;
}

.forminfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%,-50%);
}
.formp{
    background: linear-gradient(45deg, rgb(254, 254, 172), rgb(159, 250, 159), rgb(162, 162, 251),rgb(217, 162, 251));
    /* border: 1px black solid; */
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

Button{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: 2px #6200ea solid;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}


h1{
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 2px solid rgb(12, 31, 153);
}