@font-face {
    font-family: header1;
    src: url('../font-styles/RemachineScript_Personal_Use.ttf');
}

@font-face {
    font-family: header2;
    src: url('../font-styles/Revamped.otf');
}

.stack{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}

.head{
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
    font-family:header1;   
    font-size: 60px;
}

/* .form{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
} */

.formcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    padding: 10px 50px 10px 50px;
    margin: 20px auto;
    background: white; 
}

.hed{
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%,-50%);
    font-family:header1;   
    font-size: 49px;
    font-weight: 100;
    padding: 0px 200px 0px 200px;
}

.hede{
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%,-50%);
    font-family:header1;   
    font-size: 42px;
    font-weight: 100;
    padding: 0px 200px 0px 200px;
}



.subhead{
    padding: 5px;
    border-bottom: green  solid 2px;
}

.scorecard{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%);
    
}

.hedg{
    font-family:header1;   
    font-size: 49px;
    font-weight: 100;
    padding: 0px 200px 0px 200px;
    border-bottom: 2px green solid;
}

.scorecard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.graphs{
    display: flex;
}

.scoredispplay{
    display: flex;
    margin-bottom: 10px;
    padding: 20px;
}
.scoredispplay>:first-child{
    margin-right: 30px;
    font-family: header2;
    color: rgb(19, 19, 91);
    font-size: 20px;
}
.scoredispplay>:nth-child(2){
    margin-left: 30px;
    font-family: header2;
    color: rgb(19, 19, 91);
    font-size: 20px;
}

.graphs>:first-child{
    margin-right: 40px;
}
.graphs>:nth-child(2){
    margin-left: 40px;
}

.givepq9>h4{
    font-family: header2
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 20px 20px 20px; 
  }

.flex-box {
    width: 85%; 
    height: 390px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.603);
    transition: box-shadow 0.3s ease-in-out;
    background: linear-gradient(45deg,#453bfc, #0c01d0, #050064);
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-container>:nth-child(2){
    background: linear-gradient(45deg,#640000, #d00101, #fc3b3b);
}

.flex-container>:nth-child(3){
    background: linear-gradient(45deg,#549d01, #059d00, #0b3f00);
}

.bg{
    background: linear-gradient(45deg, white, #e8e4db, #ddd8bd);
    border-radius: 5px;
}

.body{
    background: linear-gradient(45deg, white, #e8e4db, #ddd8bd);
}

.flex-box>div>p{
    color: white;
    margin: 10px;
    padding: 10px;
}

.flex-box>div>img{
    margin: 10px;
    padding: 10px;
}

.flex-box>div>h2{
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
    color: wheat;

}

