@font-face {
    font-family: header1;
    src: url('../font-styles/RemachineScript_Personal_Use.ttf');
}

.stack{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}

.head{
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
    font-family:header1;   
    font-size: 60px;
}

/* .form{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
} */

.formcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    padding: 10px 50px 10px 50px;
    margin: 20px auto
    
}

.hed{
    position: fixed;
    left: 50%;
    top: 12%;
    transform: translate(-50%,-50%);
    font-family:header1;   
    font-size: 49px;
    font-weight: 100;
    padding: 0px 200px 0px 200px;
}


.subhead{
    padding: 5px;
    border-bottom: green  solid 2px;
}